.item {
  width: 400px;
  padding: 8px 0 8px 56px;
  margin-bottom: 15px;
  box-shadow: 10px 7px 20px 9px rgba(0, 0, 0, 0.5);
  display: flex;
}

.item:last-child {
  margin-bottom: 0;
}

.status {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 16px;
}

.isOnline {
  background-color: green;
}

.isOffline {
  background-color: red;
}

.avatar {
  width: 96px;
  height: 96px;
  margin-right: 14px;
}

.name {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
}
